#navbar{
    background-color: #ffffff;
}
#search-addon{
    background-color: #126E82;
}
#cart{
    color: #126E82;
}
#magnifying-glass{
    color: #ffffff;
}
#btnSign{
    color: #126E82;
    border: 1px solid #126E82;
}
#btnLogin{
    color: #126E82;
    border: 1px solid #126E82;
}
#btnSeeMore{
    background-color: #126E82;
}